<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Untitled Team Healthcare Risk Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    
</head>

<body>
    <div class="navbar">
        <a href="/">Health Insurance Risk Calculator</a>
      </div>
    <div class="title-container">
        <div class="title-header">
            <h1><br>Team [Untitled] Health Insurance Risk Calculator</h1>
        </div>
    </div>
    <h2>Jocelyn Murray &diams;&nbsp; Kyle Brick &diams;&nbsp; Luke Freeman &diams;&nbsp; Cortez Banks</h2>
    <p>&nbsp;</p>
    <h3>Risk Calculator</h3>
    <p>This program helps you classify health insurance
        based on their risk level. That is determined
        by their health. Their health is judged in terms
        of their body-mass index, blood pressure, age,
        and family history of disease.</p>

    <form action="{{ url_for('server_app') }}" id="risk-form", method='POST'>
        <p>Please enter age in years: <input type='number' name='age' value="{{age}}" min="0" max="120"><br></p>
        <p>Please enter weight in pounds: <input name='weight' type='number' value="{{weight}}" min="50" max="1500"> <br></p>
        <p>Please enter your height in inches: <input name='height' type='number' value="{{height}}" min="24" max="120" > <br></p>
        <p>Please enter your systolic blood pressure: <input type='number' name='sys_bp' value="{{sys_bp}}" min="0" max="500"> <br></p>
        <p>Please enter your diastolic blood pressure:<input type='number' name='dia_bp' value="{{dia_bp}}" min="0" max="500"> <br></p>
        <p>&nbsp;</p>
        <p>Does the person have a family history of...</p>
        <p>Diabetes (y/n): <input type='text' name='diabetes' value="{{diabetes}}" maxlength="1"> <br></p>
        <p>Cancer (y/n): <input type='text' name='cancer' value="{{cancer}}" maxlength="1"> <br></p>
        <p>Alzheimers: (y/n): <input type='text' name='alz' value="{{alz}}" maxlength="1"> <br></p>
        <input type="submit" value="Submit">
    </form>

    <p>Age Risk Score: {{age_score}}</p>
    <p>BMI Risk Score: {{bmi_score}}</p>
    <p>BP Risk Score: {{bp_score}}</p>
    <p>History Risk Score: {{history_score}}</p>
    <p>Based on information provided, coverage status is: {{status}}</p>

</body>